---
- name: Create .config/rofi directory
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.config/rofi"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: '0755'

- name: Copy the configuration of rofi
  ansible.builtin.copy:
    src: "config.rasi"
    dest: "/home/{{ ansible_user }}/.config/rofi/"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
...
