---
- name: Create .wallpaper directory
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.wallpaper"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: '0755'

- name: Copy the wallpaper
  ansible.builtin.copy:
    src: "earth.png"
    dest: "/home/{{ ansible_user }}/.wallpaper/earth.png"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"
...
